aside{
    width: 100%;
    padding-left: 25px;
    /* border-left: 3px black solid; */
}

.card{
    width: 85%;
}
/* .card-img-top{
    border-radius: 15px !important;
    -webkit-border-radius: 15px !important;
    -moz-border-radius: 15px !important;
    -ms-border-radius: 15px !important;
    -o-border-radius: 15px !important;
} */