@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

.container {
  width: 100%;
  box-shadow: teal 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


  section {
    width: 100%;
  }


  @media screen and (max-width: 1000px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }


}

.parrafos {
  width: 100%;

  .sobreMi {
    color: black;
    width: 90%;
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;

  }

  h5 {
    margin-top: 30px;
  }

  @media screen and (max-width: 1000px){
    h3{
      margin-top: 30px;
    }

    h5{
      padding:15px;
    }
  }

}