footer {
    margin-top: 2rem;
    padding-top: 1.5rem;
    background-color: black;
    padding-bottom: 0.5rem;
    color: #ccc;
}
footer p{
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Roboto', sans-serif;
}